DBT_SF_ACCOUNT=bk78935.west-europe.azure
DBT_SF_WAREHOUSE=WH_PRFR_PROD_QUERY
DBT_SF_DATABASE=PRFR_00_DEV_20_SILVER_DB
DBT_SF_SCHEMA=PRFR
DBT_SF_ENV=00_DEV
DBT_SF_USER=<enter your email adress>
DBT_SF_ROLE=RL_PRFR_DF_00_DEV_DB_ADMIN
GIT_USEREMAIL=$DBT_SF_USER
GIT_USERNAME=<enter your git user name>